# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Python files
[*.py]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 88

# JSON files
[*.{json,jsonc}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# TOML files
[*.toml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 80

# Makefiles
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Dockerfiles
[Dockerfile*]
indent_style = space
indent_size = 2

# Ignore files
[.{git, docker}ignore]
indent_style = space
indent_size = 2

# Environment files
[*.env*]
indent_style = space
indent_size = 2
