# Application Environment
# development, testing, production
ENVIRONMENT=development
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
APP_HOST=0.0.0.0
APP_PORT=8000

# --- OllamaLLM ---
OLLAMA_HOST=http://ollama:11434
OLLAMA_MODELS=/root/.ollama/models
OLLAMA_MODEL=qwen3:1.7b
OLLAMA_MAX_CONCURRENT_QUERIES=100
# Directivas de GPU
OLLAMA_GPU_LAYERS=-1
OLLAMA_CUDA_VISIBLE_DEVICES=0

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=DFGChatAI

N8N_BASIC_AUTH_ACTIVE=false
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=Admin*2026
N8N_ENCRYPTION_KEY=8b0c9d4f3e1a2b6c5d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c
